<!--

Author: Jonathan Sprinkle
Copyright (c) 2015-2016 Arizona Board of Regents
All rights reserved.

Permission is hereby granted, without written agreement and without 
license or royalty fees, to use, copy, modify, and distribute this
software and its documentation for any purpose, provided that the 
above copyright notice and the following two paragraphs appear in 
all copies of this software.

IN NO EVENT SHALL THE ARIZONA BOARD OF REGENTS BE LIABLE TO ANY PARTY 
FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES 
ARISING OUT OF THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN 
IF THE ARIZONA BOARD OF REGENTS HAS BEEN ADVISED OF THE POSSIBILITY OF 
SUCH DAMAGE.

THE ARIZONA BOARD OF REGENTS SPECIFICALLY DISCLAIMS ANY WARRANTIES, 
INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY 
AND FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE PROVIDED HEREUNDER
IS ON AN "AS IS" BASIS, AND THE ARIZONA BOARD OF REGENTS HAS NO OBLIGATION
TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.

Summary: 
=======
This launch file integrates hector slam with the car's various topics
and frames, including the laser topic from the front of the car.

How to execute it:
=================
After starting up a simulation that includes the CAT Vehicle, then:

roslaunch catvehicle hectorslam.launch


-->

<launch>

<arg name="robot_name" default="catvehicle"/>
<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" respawn="false" output="screen" >
    <param name="pub_map_odom_transform" value="true"/>
    <param name="map_frame" value="map" />
    <param name="scan_topic" value="/$(arg robot_name)/front_laser_points" />
    <param name="base_frame" value="$(arg robot_name)/base_link" />
    <param name="odom_frame" value="$(arg robot_name)/odom" />
    <param name="map_resolution" value="1" />
    <param name="map_size" value="200" />
    <param name="map_pub_period" value="0.5" />
    <param name="scan_subscriber_queue_size" value="100"/>
</node>

</launch>
