<?xml version="1.0"?>
<robot name="car">
  <link name="base_link">
    <visual name="base_visual">
      <origin xyz="1 0 0.0" rpy="1.57 0 1.57" />
      <geometry>
        <mesh filename="package://model_publisher/../../../.config/model/toyota_estima_white_model/estima.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
