# https://github.com/git-lfs/git-lfs/wiki/Installation#debian-and-ubuntu
- name: Install Git LFS
  become: true
  ansible.builtin.apt:
    name: git-lfs
    state: latest
    update_cache: true

# ref: https://github.com/ansible/ansible-lint/issues/1780
- name: Check if git lfs is installed # https://github.com/git-lfs/git-lfs/issues/901
  community.general.git_config:
    list_all: true
    scope: global
  register: dev_tools__git_lfs__git_global_config

- name: Setup Git LFS
  ansible.builtin.command: git lfs install
  when: "'filter.lfs.required' not in dev_tools__git_lfs__git_global_config.config_values"
  changed_when: true

- name: Install pipx
  become: true
  ansible.builtin.apt:
    name: pipx
    state: latest
    update_cache: true

- name: Install pre-commit
  community.general.pipx:
    name: pre-commit
    executable: /usr/bin/pipx

- name: Install clang-format
  community.general.pipx:
    name: clang-format
    executable: /usr/bin/pipx

- name: Install Go
  become: true
  ansible.builtin.apt:
    name: golang
    state: latest
    update_cache: true

- name: Hold check of ros-{{ rosdistro + '-plotjuggler' }}
  ansible.builtin.command: apt-mark showhold
  register: dev_tools__held_ros_packages
  changed_when: false

- name: Install plotjuggler
  become: true
  ansible.builtin.apt:
    name:
      - ros-{{ rosdistro }}-plotjuggler
    state: latest
    update_cache: true
  when: "'ros-' + rosdistro + '-plotjuggler' not in dev_tools__held_ros_packages.stdout"
  register: dev_tools__install_result
  failed_when: false

- name: Display warning if plotjuggler package is held
  ansible.builtin.debug:
    msg: ROS package 'ros-{{ rosdistro }}-plotjuggler' is apt-mark hold. Skipping installation.
  when: not dev_tools__install_result.changed
