[submodule "ros/src/msgs/platform_automation_msgs"]
	path = ros/src/msgs/platform_automation_msgs
	url = https://github.com/astuff/platform_automation_msgs.git

[submodule "ros/src/msgs/astuff_sensor_msgs"]
	path = ros/src/msgs/astuff_sensor_msgs
	url = https://github.com/astuff/astuff_sensor_msgs.git
