# GNU global tags
GTAGS
GRTAGS
GSYMS
GPATH

# Python byte-compile file
__pycache__/
*.py[co]

# editor backup files
*~
\#*\#

# backup files
*.bak

# Eclipse
.cproject
.project
.pydevproject
.settings/

# Visual Studio Code
.vscode/

# CLion
.idea/
cmake-build-debug/

# clang-format
.clang-format

# ROSBag files
*.bag

# Environments
.env
.venv
env/
venv/
ENV/

# Autoware Resources
*.pcd
*.bag
*.csv

/.metadata/
