# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/
*.code-workspace

# colcon
build/
install/
log/
/src/

# Python
*.pyc

# Jetbrains
.idea/

# rviz Screen Capture
capture/

# CodeChecker
.codechecker/
