# This file is automatically synced from:
# https://github.com/autowarefoundation/sync-file-templates
# To make changes, update the source repository and follow the guidelines in its README.

# Modified from https://github.com/ament/ament_lint/blob/ebd524bb9973d5ec1dc48a670ce54f958a5a0243/ament_cpplint/ament_cpplint/main.py#L64-L120
set noparent
linelength=100
includeorder=standardcfirst
filter=-build/c++11               # we do allow C++11
filter=-build/c++17               # we allow <filesystem>
filter=-build/namespaces_literals # we allow using namespace for literals
filter=-runtime/references        # we consider passing non-const references to be ok
filter=-whitespace/braces         # we wrap open curly braces for namespaces, classes and functions
filter=-whitespace/indent         # we don't indent keywords like public, protected and private with one space
filter=-whitespace/newline        # we allow the developer to decide about newline at the end of file (it's clashing with clang-format)
filter=-whitespace/parens         # we allow closing parenthesis to be on the next line
filter=-whitespace/semicolon      # we allow the developer to decide about whitespace after a semicolon
filter=-build/header_guard        # we automatically fix the names of header guards using pre-commit
filter=-build/include_order       # we use the custom include order
filter=-build/include_subdir      # we allow the style of "foo.hpp"
