<!DOCTYPE html>
<html>
  <head>
    <title>RuntimeManager</title>

    <meta charset="utf-8" />
    <link href="./res/static/autoware_icon.ico" rel="shortcut icon">

    <!-- ReactGridLayout -->
    <link href="./res/node_modules/react-grid-layout/css/styles.css" rel="stylesheet">
    <link href="./res/node_modules/react-resizable/css/styles.css" rel="stylesheet">

    <!-- RobotWebTools -->
    <script type="text/javascript" src="./res/lib/threejs/three.min.js"></script>
    <script type="text/javascript" src="./res/lib/threejs/STLLoader.min.js"></script>
    <script type="text/javascript" src="./res/lib/collada/ColladaLoader.min.js"></script>
    <script type="text/javascript" src="./res/lib/collada/ColladaLoader2.min.js"></script>
    <script type="text/javascript" src="./res/lib/robotwebtools/eventemitter2.min.js"></script>
    <script type="text/javascript" src="./res/lib/robotwebtools/easeljs.min.js"></script>
    <script type="text/javascript" src="./res/lib/robotwebtools/roslib.js"></script>
    <script type="text/javascript" src="./res/lib/robotwebtools/ros3d.js"></script>

  </head>
  <body>
    <div id="content"></div>
    <script src="./res/build/app.js"></script>
  </body>
</html>
