<launch>
  <!-- send table.xml to param server -->
  <arg name="car" default="true" />
  <arg name="pedestrian" default="false" />
  <arg name="obj_car" default="obj_car" />
  <arg name="obj_person" default="obj_person" />


  <group ns="sync_reprojection">
    <group if="$(arg car)">
      <group ns="obj_car">
        <node pkg="synchronization" type="sync_obj_reproj" name="sync_$(arg obj_car)_reprojection">
          <remap from="/image_obj_tracked" to="/$(arg obj_car)/image_obj_tracked"/>
          <remap from="/current_pose" to="/current_pose"/>
          <remap from="/obj_label" to="/$(arg obj_car)/obj_label"/>
          <remap from="/sync_reprojection/image_obj_tracked" to="/sync_reprojection/$(arg obj_car)/image_obj_tracked"/>
          <remap from="/sync_reprojection/current_pose" to="/sync_reprojection/$(arg obj_car)/current_pose"/>
        </node>
      </group>
    </group>

    <group if="$(arg pedestrian)">
      <group ns="obj_person">
        <node pkg="synchronization" type="sync_obj_reproj" name="sync_$(arg obj_person)_reprojection">
          <remap from="/image_obj_tracked" to="/$(arg obj_person)/image_obj_tracked"/>
          <remap from="/current_pose" to="/current_pose"/>
          <remap from="/obj_label" to="/$(arg obj_person)/obj_label"/>
          <remap from="/sync_reprojection/image_obj_tracked" to="/sync_reprojection/$(arg obj_person)/image_obj_tracked"/>
          <remap from="/sync_reprojection/current_pose" to="/sync_reprojection/$(arg obj_person)/current_pose"/>
        </node>
      </group>
    </group>
  </group>
</launch>
