<launch>

  <!-- setting of this launch file -->
  <arg name="is_use_gpu" default="true" />
  <arg name="car_detection" default="true" />
  <arg name="pedestrian_detection" default="true" />

  <!-- car and pedestrian detection -->
  <!-- dpm_XXX -->
  <include file="$(find vision_dpm_ttic_detect)/launch/vision_dpm_ttic_detect.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
    <arg name="use_gpu" value="$(arg is_use_gpu)" />
  </include>

  <!-- range_fusion -->
  <include file="$(find range_fusion)/launch/range_fusion.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
  </include>

  <!-- obj_reproj -->
  <include file="$(find obj_reproj)/launch/obj_reproj.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
  </include>

  <!-- euclidean_cluster -->
  <include file="$(find lidar_euclidean_cluster_detect)/launch/lidar_euclidean_cluster_detect.launch">
  </include>

  <!-- obj_fusion -->
  <include file="$(find obj_fusion)/launch/obj_fusion.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
  </include>


  <!-- traffic light recognition -->
  <!-- feat_proj -->
  <node pkg="trafficlight_recognizer" type="feat_proj" name="feat_proj">
  </node>

  <!-- region_tlr -->
  <include file="$(find trafficlight_recognizer)/launch/traffic_light_recognition.launch">
  </include>

</launch>
