<launch>

  <!-- setting path parameter -->
  <rosparam param="/waypoint_loader/lane_waypoint_csv">
    ~/.autoware/data/path/aeon_ryusenji.csv
  </rosparam>
  <!-- <rosparam param="/waypoint_loader/vector_map_directory">
    ~/.autoware/data/map/vector_map
  </rosparam> -->

  <!-- Tablet UI -->
  <include file="$(find runtime_manager)/scripts/tablet_socket.launch"/>

  <!-- waypoint_loader -->
  <include file="$(find waypoint_maker)/launch/waypoint_loader.launch"/>

  <!-- lane_rule -->
  <node pkg="lane_planner" type="lane_rule" name="lane_rule" />

  <!-- lane_change -->
  <node pkg="lane_planner" type="lane_select" name="lane_select" />

  <!-- velocity_set -->
  <node pkg="waypoint_follower" type="velocity_set" name="velocity_set" />

</launch>
