<launch>

  <!-- calibration file path -->
  <arg name="velodyne_calib" default="/opt/ros/indigo/share/velodyne_pointcloud/params/32db.yaml"/>
  <arg name="camera_calib" default="~/.autoware/data/calibration/camera_lidar_3d/prius/nic_150407.yml"/>

  <!-- HDL-32e -->
  <include file="$(find velodyne)/scripts/velodyne_hdl32e.launch">
    <arg name="calibration" value="$(arg velodyne_calib)"/>
  </include>

  <!-- Javad Delta 3 -->
  <!-- <node pkg="javad" type="gnss.sh" name="javad_driver"/> -->

  <!-- PointGrey Grasshopper3 -->
  <include file="$(find pointgrey)/scripts/grasshopper3.launch">
    <arg name="CalibrationFile" value="$(arg camera_calib)"/>
  </include>

</launch>
