<library path="python">
  <class name="DiagnosticGraphMonitor" type="rqt_diagnostic_graph_monitor.MonitorPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip></statustip>
      </group>
      <label>Diagnostic Graph Monitor</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip></statustip>
    </qtgui>
  </class>
</library>
