<launch>

  <!-- setting of this launch file -->
  <arg name="car_detection" default="true" />
  <arg name="pedestrian_detection" default="false" />
  <arg name="is_use_gpu" default="true" />
  <arg name="is_register_lidar2camera_tf" default="true" />
  <arg name="is_publish_projection_matrix" default="true" />
  <arg name="is_publish_camera_info" default="true" />
  <arg name="camera_calib" default="$(env HOME)/.autoware/data/calibration/camera_lidar_3d/prius/nic-150407.yml"/>

  <!-- calibration_publisher -->
  <include file="$(find runtime_manager)/scripts/calibration_publisher.launch">
    <arg name="file" value="$(arg camera_calib)" />
    <arg name="register_lidar2camera_tf" value="$(arg is_register_lidar2camera_tf)" />
    <arg name="publish_extrinsic_mat" value="$(arg is_publish_projection_matrix)" />
    <arg name="publish_camera_info" value="$(arg is_publish_camera_info)" />
  </include>

  <!-- points2image -->
  <node pkg="points2image" type="points2image" name="points2image" />

  <!-- car and pedestrian detection -->
  <!-- dpm_ttic -->
  <include file="$(find vision_dpm_ttic_detect)/launch/vision_dpm_ttic_detect.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
    <arg name="use_gpu" value="$(arg is_use_gpu)" />
  </include>

  <!-- range_fusion -->
  <include file="$(find range_fusion)/launch/range_fusion.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
  </include>

  <!-- vision_klt_track -->
  <include file="$(find vision_klt_track)/launch/vision_klt_track.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
  </include>

  <!-- obj_reproj -->
  <include file="$(find obj_reproj)/launch/obj_reproj.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
  </include>

  <!-- lidar_euclidean_cluster_detect -->
  <include file="$(find lidar_euclidean_cluster_detect)/launch/lidar_euclidean_cluster_detect.launch">
  </include>

  <!-- obj_fusion -->
  <include file="$(find obj_fusion)/launch/obj_fusion.launch">
    <arg name="car" value="$(arg car_detection)" />
    <arg name="pedestrian" value="$(arg pedestrian_detection)" />
  </include>


  <!-- traffic light recognition -->
  <!-- feat_proj -->
  <!--
  <node pkg="trafficlight_recognizer" type="feat_proj" name="feat_proj" />
  -->

  <!-- region_tlr -->
  <!--
  <include file="$(find trafficlight_recognizer)/launch/traffic_light_recognition.launch" />
  -->

</launch>
