<!-- -->
<launch>

  <arg name="namespace" default="detection"/>
  <arg name="packagename" default="shape_estimation"/>
  <arg name="input" default="/$(arg namespace)/lidar_detector/objects"/>
  <arg name="output" default="/$(arg namespace)/$(arg packagename)/objects"/>

  <!-- rosrun lidar_tracker euclidean_cluster _points_node:="" -->
  <node pkg="shape_estimation" type="shape_estimation" name="shape_estimation" output="screen">
    <remap from="input"         to="$(arg input)" />
    <remap from="output"       to="$(arg output)" />
  </node>

  <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="shape_estimation_visualization"
        output="screen" ns="/$(arg namespace)/$(arg packagename)"/>

</launch>
