<?xml version="1.0"?>

<model>
  <name>Power Plant</name>
  <version>1.0</version>
  <license></license>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A power plant.
  </description>
</model>
