<!-- -->
<launch>
	<arg name="current_pose_topic" default="gnss" />
	<arg name="mobility_frame" default="/gps" />
	<arg name="velocity_kmh" default="5" /> <!-- set velocity (km/h) -->
	<arg name="lookahead_threshold" default="4" /> <!-- meter -->
	<arg name="waypoint_filename" default="$(find lane_follower)/path/gnsspath.txt" />

	<!-- rosrun lane_follower test_lane_navigator _filename:="path file" -->
	<node pkg="lane_follower" type="test_lane_navigator" name="lane_nav">
		<param name="filename" value="$(arg waypoint_filename)" />
	</node>

	<!-- rosrun lane_follower lane_follower _current_pose_topic:="topic" _mobility_frame:="/frame" _velocity_kmh:=0 _lookahead_threshold:=0 -->
	<node pkg="lane_follower" type="lane_follower" name="lane_follower" output="screen">
		<param name="current_pose_topic" value="$(arg current_pose_topic)" />
		<param name="mobility_frame" value="$(arg mobility_frame)" />
		<param name="velocity_kmh" value="$(arg velocity_kmh)" />
		<param name="lookahead_threshold" value="$(arg lookahead_threshold)" />
	</node>

</launch>