<!-- -->
<launch>
	<arg name="current_pose_topic" default="ndt" />
	<arg name="mobility_frame" default="/velodyne" />
	<arg name="threshold_ratio" default="0.001" />
	<arg name="end_distance" default="2.0" /> <!-- meter -->

	<arg name="waypoint_filename" default="$(find lane_follower)/path/ndtpath.txt" />

	<!-- rosrun lane_follower test_lane_navigator _filename:="path file" -->
	<node pkg="lane_follower" type="test_lane_navigator" name="lane_nav">
		<param name="filename" value="$(arg waypoint_filename)" />
	</node>


	<!-- rosrun lane_follower lane_follower _current_pose_topic:="topic" _mobility_frame:="/frame" _end_distance:=0 _lookahead_ratio:=0 -->
	<node pkg="lane_follower" type="lane_follower" name="lane_follower">
		<param name="current_pose_topic" value="$(arg current_pose_topic)" />
		<param name="mobility_frame" value="$(arg mobility_frame)" />
		<param name="end_distance" value="$(arg end_distance)" />
		<param name="threshold_ratio" value="$(arg threshold_ratio)" />
	</node>

</launch>
