<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <title>Autoware</title>
  <link rel="shortcut icon" href="/img/autoware_icon.ico">

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/button.css" />

  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- Header -->
  <header class="navbar-static-top bs-docs-nav">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"></a>
        </div>
      </div>
    </div>
  </header>

  <!-- Button -->
  <div class="container">
    <center><h2>PLEASE SELECT YOUR ROLE</h2></center>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <center>
          <a href="/vehicle" class="flat_ss">
              <span class="iconback car"><i class="fa fa-car"></i></span><span class="btnttl">VEHICLE</span>
          </a>
        </center>
      </div>
      <div class="col-sm-12 col-xs-12">
        <center>
          <a href="/operator" class="flat_ss">
              <span class="iconback operator"><i class="fa fa-user"></i></span><span class="btnttl">OPERATOR</span>
          </a>
        </center>
      </div>
      <div class="col-sm-12 col-xs-12">
        <center>
          <a href="/demo_vehicle" class="flat_ss">
              <span class="iconback car"><i class="fa fa-car"></i></span><span class="btnttl">VEHICLE for DEMO</span>
          </a>
        </center>
      </div>
      <div class="col-sm-12 col-xs-12">
        <center>
          <a href="/demo_operator" class="flat_ss">
              <span class="iconback operator"><i class="fa fa-user"></i></span><span class="btnttl">OPERATOR for DEMO</span>
          </a>
        </center>
      </div>
    </div>
</div>
