- name: Add agnocast PPA repository
  ansible.builtin.apt_repository:
    repo: ppa:t4-system-software/agnocast
    state: present
  become: true

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Install agnocast-heaphook v{{ agnocast_version }}
  ansible.builtin.apt:
    name: agnocast-heaphook={{ agnocast_version }}*
    state: present
  become: true

- name: Check if agnocast-kmod is installed in dkms with version v{{ agnocast_version }} # noqa: command-shell
  ansible.builtin.shell:
    dkms status | grep agnocast | grep {{ agnocast_version }}
  register: dkms_status
  failed_when: false
  changed_when: false

- name: Purge agnocast-kmod if not found in dkms for version if v{{ agnocast_version }}
  ansible.builtin.apt:
    name: agnocast-kmod={{ agnocast_version }}*
    state: absent
  become: true
  when: dkms_status.rc != 0

- name: Install agnocast-kmod if not found in dkms for version v{{ agnocast_version }}
  ansible.builtin.apt:
    name: agnocast-kmod={{ agnocast_version }}*
    state: present
  become: true
  when: dkms_status.rc != 0
