name: health-check-arm64

on:
  schedule:
    - cron: 0 12 * * *
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  load-env:
    uses: ./.github/workflows/load-env.yaml

  docker-build:
    needs: load-env
    runs-on: codebuild-autoware-us-east-1-${{ github.run_id }}-${{ github.run_attempt }}-ubuntu-7.0-large
    strategy:
      fail-fast: false
      matrix:
        name:
          - no-cuda
          - cuda
        include:
          - name: no-cuda
            platform: arm64
            base_image_env: base_image
            lib_dir: aarch64
            setup-args: --no-nvidia
            additional-tag-suffix: ""
          - name: cuda
            platform: arm64
            base_image_env: base_image
            lib_dir: aarch64
            additional-tag-suffix: -cuda
    steps:
      # https://github.com/actions/checkout/issues/211
      - name: Change permission of workspace
        run: |
          sudo chown -R $USER:$USER ${{ github.workspace }}

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set git config
        uses: autowarefoundation/autoware-github-actions/set-git-config@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Show disk space before the tasks
        run: df -h

      - name: Show machine specs
        run: lscpu && free -h

      - name: Build 'Autoware'
        uses: ./.github/actions/docker-build
        with:
          name: ${{ matrix.name }}
          platform: ${{ matrix.platform }}
          cache-tag-suffix: main
          build-args: |
            ROS_DISTRO=${{ needs.load-env.outputs.rosdistro }}
            BASE_IMAGE=${{ needs.load-env.outputs[format('{0}', matrix.base_image_env)] }}
            SETUP_ARGS=${{ matrix.setup-args }}
            LIB_DIR=${{ matrix.lib_dir }}

      - name: Show disk space
        run: |
          df -h
