name: mirror-main-branch

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mirror-main-branch:
    runs-on: ubuntu-22.04
    steps:
      - uses: zofrex/mirror-branch@v1
        with:
          target-branch: humble
