name: setup-universe

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup-universe:
    runs-on: [self-hosted, Linux, X64]
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ubuntu:22.04
            ros_distro: humble
          - image: ubuntu:24.04
            ros_distro: jazzy
    container:
      image: ${{ matrix.image }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Show disk space
        if: always()
        run: |
          df -h

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y git sudo curl ca-certificates apt-utils

      - name: Install tzdata non-interactively
        run: |
          DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata

      - name: Set git config
        uses: autowarefoundation/autoware-github-actions/set-git-config@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run setup script
        run: |
          ./setup-dev-env.sh --ros-distro ${{ matrix.ros_distro }} -y -v universe
