name: spell-check-all

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *

jobs:
  spell-check-all:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run spell-check
        uses: autowarefoundation/autoware-github-actions/spell-check@v1
        with:
          cspell-json-url: https://raw.githubusercontent.com/tier4/autoware-spell-check-dict/main/.cspell.json
          incremental-files-only: false
