<?xml version="1.0"?>
<robot name="car">
  <link name="sim_base_link">
    <visual name="base_visual">
      <origin xyz="1 0 0.0" rpy="1.57 0 4.71" />
      <geometry>
        <mesh filename="package://model_publisher/../../../.config/model/CAR_original.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
